<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../img/logo.png">
        <link href="css/styles.css" rel="stylesheet" type="text/css"> 
        <link href="../cms/css/styles.css" rel="stylesheet" type="text/css">
        <title>Frajola's Pizzaria - PMS</title>
    </head>
    <body>
        <header id="cms-header">
            <div class="content center">
                <a href="?page=home">
                    <h1>
                        PMS - Sistema Gerenciador de Produtos
                    </h1>
                </a>
        
                <a href="?page=home">
                    <img src="../cms/img/cms.jpg" alt="Ícone CMS" /> 
                </a>
            </div>
        </header>

        <nav id="cms-menu">
            <div class="content center">
                <ul>
                    <li> 
                        <a href="?page=produtos">
                            <img src="assets/pizzas.png" alt="Ícone produtos" />
                            Administração de Produtos
                        </a>
                    </li>

                    <li> 
                        <a href="?page=categorias">
                            <img src="assets/categories.png" alt="Ícone categorias" />
                            Administração de Categorias
                        </a>
                    </li>

                    <li> 
                        <a href="?page=subcategorias">
                            <img src="assets/subcategories.png" alt="Ícone subcategorias" />
                            Administração de Subcategorias
                        </a>
                    </li>
                </ul>
        
                <div>
                    <header> 
                        Bem-vindo, <strong id="lbl_username"></strong>
                    </header>
            
                    <footer>
                        <a href="#" id="btn_logout"> Logout </a>
                    </footer>
                </div>
            </div>
        </nav>

        <div id="cms-main-content">
            <div id="pms-main-content" class="content center">
                <h1>
                    <strong> Administração de Subcategorias </strong>
                </h1>
            
                <form id="frm_subcategory">
                    <input type="text" id="txt_name" placeholder="Nome da Subcategoria*" required />
                    <input type="submit" id="btn_submit" value="Cadastrar" /> 
                </form>

                <table id="tbl-data">

                </table>
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script>
            $(document).ready(handleSessionStorage('#lbl_username'));

            function refreshSubcategories() {
                selectAll('subcategory', function(data) {
                    $('#tbl-data').empty();

                    data.forEach(subcategory => {
                        $('#tbl-data').append(`
                            <tr>
                                <td> 
                                    ${subcategory.name}    
                                </td>
                                <td class="tbl-enable-disable"> 
                                    ${(function() {
                                        if (subcategory.status) 
                                            return `<a class="updateStatus" data-id="${subcategory.id}" data-status="false"> <img src="../cms/img/on.png" alt="Desabilitar" title="Desabilitar" /> </a>`;
                                        else 
                                            return `<a class="updateStatus" data-id="${subcategory.id}" data-status="true"> <img src="../cms/img/off.png" alt="Habilitar" title="Habilitar" /> </a>`;
                                    })()}
                                </td>
                                <td> 
                                    <a>
                                        <img src="../cms/img/edit.png" class="update" alt="Editar" title="Editar" data-id="${subcategory.id}" />
                                    </a>

                                    <a>
                                        <img src="../cms/img/remove.png" class="delete" alt="Remover" title="Remover" data-id="${subcategory.id}" />
                                    </a>    
                                </td>
                            </tr>
                        `);
                    });

                    $('#tbl-data').prepend(`
                    <tr id="tbl-header">
                        <td>NOME</td>
                        <td>ESTADO</td>
                        <td>OPÇÕES</td>
                    </tr>`);

                    $('.updateStatus').click(function(event) {
                        const id = event.currentTarget.dataset.id;
                        const status = event.currentTarget.dataset.status;

                        updateStatus('subcategory', id, status, function(data) {
                            if (data.status === 'ok') {
                                refreshSubcategories();
                                swal('Yay!', `Subcategoria ${status === 'true' ? 'habilitada' : 'desabilitada'} com sucesso!`, 'success');
                            }
                        });
                    });

                    $('.delete').click(function(event) {
                        const id = event.currentTarget.dataset.id;
                        
                        swal('...', 'Deseja realmente excluir essa subcategoria?', { buttons: true, icon: 'warning' })
                        .then(function(isConfirm) {
                            if (isConfirm) {
                                remove('subcategory', id, function(data) {
                                    if (data.status === 'ok') 
                                        refreshSubcategories();
                                });
                            }
                        });
                    });

                    $('.update').click(function(event) {
                        var id = event.currentTarget.dataset.id;

                        selectById('subcategory', id, function(data) {
                            $('#txt_name').val(data.name);
                            $('#btn_submit').data('id', id);
                            $('#btn_submit').val('Atualizar');
                        });
                    });
                });
            }

            $(document).ready(refreshSubcategories);

            $('#btn_logout').click(handleLogout);

            $('#frm_subcategory').submit(function(event) {
                event.preventDefault();

                if ($('#btn_submit').val() === 'Cadastrar') {
                    insert('subcategory', {
                        name: $('#txt_name').val()
                    }, function(data) {
                        if (data.status === 'ok') {
                            $('#txt_name').val('');
                            
                            refreshSubcategories();
                            swal('Yay!', 'Subcategoria cadastrada com sucesso!', 'success');
                        }
                    });
                } else if ($('#btn_submit').val() === 'Atualizar') {
                    update('subcategory', $('#btn_submit').data('id'), {
                        name: $('#txt_name').val()
                    }, function(data) {
                        if (data.status === 'ok') {
                            $('#txt_name').val('');
                            $('#btn_submit').removeData('id');
                            $('#btn_submit').val('Cadastrar');

                            refreshSubcategories();
                            swal('Yay!', 'Subcategoria atualizada com sucesso!', 'success');
                        }
                    });
                }
            });
        </script>
    </body>
</html>