<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../img/logo.png">
        <link href="css/styles.css" rel="stylesheet" type="text/css"> 
        <link href="../cms/css/styles.css" rel="stylesheet" type="text/css">
        <title>Frajola's Pizzaria - PMS</title>
    </head>
    <body>
        <header id="cms-header">
            <div class="content center">
                <a href="?page=home">
                    <h1>
                        PMS - Sistema Gerenciador de Produtos
                    </h1>
                </a>
        
                <a href="?page=home">
                    <img src="../cms/img/cms.jpg" alt="Ícone CMS" /> 
                </a>
            </div>
        </header>

        <nav id="cms-menu">
            <div class="content center">
                <ul>
                    <li> 
                        <a href="?page=produtos">
                            <img src="assets/pizzas.png" alt="Ícone produtos" />
                            Administração de Produtos
                        </a>
                    </li>

                    <li> 
                        <a href="?page=categorias">
                            <img src="assets/categories.png" alt="Ícone produtos" />
                            Administração de Categorias
                        </a>
                    </li>
                </ul>
        
                <div>
                    <header> 
                        Bem-vindo, <strong id="lbl_username"></strong>
                    </header>
            
                    <footer>
                        <a href="#" id="btn_logout"> Logout </a>
                    </footer>
                </div>
            </div>
        </nav>

        <div id="cms-main-content">
            <div id="welcome" class="content center">
                <h1>
                    <strong> Administração de Categorias </strong>
                </h1>
            
                
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script>
            $(document).ready(handleSessionStorage('#lbl_username'));
            $('#btn_logout').click(handleLogout);
        </script>
    </body>
</html>