<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../img/logo.png">
        <link href="views/css/styles.css" rel="stylesheet" type="text/css"> 
        <link href="../cms/css/styles.css" rel="stylesheet" type="text/css"> 
        <title>Frajola's Pizzaria - PMS</title>
    </head>
    <body>
        <header id="cms-header">
            <div class="content center">
                <a href="./index.php">
                    <h1>
                        PMS - Sistema Gerenciador de Produtos
                    </h1>
                </a>
        
                <a href="?page=produtos">
                    <img src="../cms/img/cms.jpg" alt="Ícone CMS" /> 
                </a>
            </div>
        </header>
    </body>
</html>