<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../img/logo.png">
        <link href="views/css/styles.css" rel="stylesheet" type="text/css">
        <title>Frajola's Pizzaria - PMS</title>
    </head>
    <body id="login-page">  
        <div id="login-container">
            <div id="login-content">
                <h1>Login - PMS</h1>
                <form id="frm_login">
                    <label>E-MAIL</label>
                    <input type="email" id="txt_email" required />
                    <label>PASSWORD</label>
                    <input type="password" id="txt_password" required />
                    <input type="submit" value="Entrar" />
                </form>
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="views/js/core.min.js"></script>
        <script src="views/js/md5.min.js"></script>
        <script src="views/js/sweetalert.min.js"></script>
        <script>
            $('#frm_login').submit(function(event) {
                event.preventDefault();
            
                const txt_email = $('#txt_email').val();
                const txt_password = $('#txt_password').val();

                const password_hash = CryptoJS.MD5(txt_password).toString(CryptoJS.enc.Hex);

                $.ajax({
                    method: 'GET',
                    url: 'routes.php?controller=login&action=selectAll',
                    dataType: 'json',
                    success: function(data) {
                        data.forEach(user => {
                            if (user.email === txt_email && user.password === password_hash) {
                                location.href = 'index.php?page=produtos';
                            }
                        });

                        swal('Oops...', 'Invalid username or password specified.', 'error');
                    }
                });
            });
        </script>
    </body>
</html>