<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../img/logo.png">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Frajola's Pizzaria - PMS</title>
    </head>
    <body id="login-page">  
        <div id="login-container">
            <div id="login-content">
                <h1>Login - PMS</h1>
                <form id="frm_login">
                    <label>E-MAIL</label>
                    <input type="email" id="txt_email" required />
                    <label>SENHA</label>
                    <input type="password" id="txt_password" required />
                    <input type="submit" value="Entrar" />
                </form>
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/core.min.js"></script>
        <script src="js/md5.min.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script>
            $(document).ready(function() {
                const username = sessionStorage.getItem("username");

                if (username) 
                    location.href = '?page=home';
            });

            $('#frm_login').submit(function(event) {
                event.preventDefault();
            
                const txt_email = $('#txt_email').val();
                const txt_password = $('#txt_password').val();

                const password_hash = CryptoJS.MD5(txt_password).toString(CryptoJS.enc.Hex);

                selectAll('login', function(data) {
                    data.forEach(user => {
                        if (user.email === txt_email && user.password === password_hash) {
                            sessionStorage.setItem("username", user.name);
                            location.href = 'index.php?page=home';
                        }
                    });

                    swal('Oops...', 'E-mail ou senha inválidos.', 'error');
                });
            });
        </script>
    </body>
</html>